body{
    background-color: blue;
}
.login_div1,.login_div2{
background-color: white;
padding: 10px;
border-radius: 15px;
float: none;
margin-bottom: 30px;
}
#player2_name_input,#player1_name_input{
    display: inline-block;
    margin-left: 10px;
}
h1{
   color: white;
   font-weight: 100;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#word{
padding: 10px;
margin-bottom: 50px;
}
button{
margin-bottom: 50px;
}
